*{
    margin: 0;
    color: white;
    text-align: center;
}
header, footer{
    background-color: #1f1f1f;
    height: 100px;    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
main{
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 33px;
    padding: 33px;
}
.book-section{
    background-color: #0d3240;
    border-radius: 10px;
    height: fit-content;
    min-width: 350px;
    padding: 10px;
}
h1{
}
.table{
    gap: 10px;
}
input{
    color: black;
}
#comment-section{
    font-size: 8px;
}
img{
    width: 20px;
    height: 20px;
}
.comment-section{
    max-height: 200px;
    word-wrap: break-word;
    overflow: scroll;
}
.input-line{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.book-img{
    width: 100px;
    height: 100px;
}
.price-likes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.liked{
    display: none;
}
.not-liked{
    display: none;
}